dta-collaborateurs {
    display: block;
    margin: 1em 0;
}

dta-collaborateurs:before {
    display: table;
    content: " ";
}

dta-collaborateurs:after {
    clear: both;
    display: table;
    content: " ";
}

dta-collaborateurs button {
    float: left;
    margin: .5em;
}
